.contenedorUno {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

.titulito {
font-weight: bolder;
border-radius: 10px;
background: linear-gradient(to right, #e8a849, #6ff3af);
color: white;
padding: 5px 5px 5px;
box-shadow: 0px 0px 0.5px black;
}

.navegador {
   background: #f8f9fa;
    box-shadow:0px 0px 10px rgb(0 0 0 / 62%);
   border-radius: 5px;
    margin-top: 25px;
    border-radius: 8px;
    padding: 0.5px 0.5px 0.5px;
}

.navegador nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navegador nav ul li {
    display: inline-block;
}

.textoEdit {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #363434;
    font-family:sans-serif;
    font-size:10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.flechita {
    width:15px;
    margin: -3px;
}

.textoEdit:hover {
    background-color: #e8a849;
    color: white;
    border-radius: 5px;
}

.textoEditDos {
    font-size: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 15px;
    font-family:monospace;
}

